body {
  background-color: lightgrey;
  padding: 5px;
}

.navbar {
  /** background-color: lightcyan; **/
  border-color: navy;
  display: flex;
  /** width: 100vw; **/
  margin: auto;
  /** justify-content: space-between; **/
}

.navlist {
  display: flex;
  justify-content: space-between;
}

ul, li {
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  flex: 1 1 100px;
  padding: 0;
}

li {
 flex: 1 1 30px;
 margin: 0px 10px;
 padding: 10px;
 justify-content: space-between;
 font-family: "Helvetica", sans-serif;
 text-align: center;
}

.li-1 {
  background-color: green;
}

.li-2 {
  background-color: orange;
}

.li-3 {
  background-color: purple;
}

.li-4 {
  background-color: gray;
}

.li-5 {
  background-color: moccasin;
}

.li-6 {
  background-color: gold;
}

main {
  display: flex;
  /** background-color: teal; **/
  padding: 10px;
}

.hero1 {
  display: flex;
  background-color: white;
  flex: 2 4 100px;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: x-large;
}

.hero2 {
  display: flex;
  background-color: red;
  flex: 4 2 200px;
  min-height: 50vh;
  margin: 0px 10px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: x-large;
}

.hero2:hover {
  box-shadow: inset 0 0 0 25px #53a7ea;
  transition: box-shadow .5s ease-out;
}

.hero3 {
  display: flex;
  background-color: blue;
  flex: 2 4 100px;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: x-large;
}
